# Copy to .env.local and edit
VITE_API_URL=http://localhost:8081
# Google Drive file id of your resume (the part between /d/ and /view). File must be shared as "Anyone with the link".
VITE_RESUME_FILE_ID=1y55pg_7yA0cXcHitDf5LlExKdCSo5QVh
